img#img-perfil{
    float: left;
    margin: 20px;
    margin-top: 120px;
    width: 250px;
    height: 250px;
    border: solid 2px gray;
}

.perfil-info{
    margin-left: 70px;
    margin-right: 50px;
    float: none;
    padding: 25px 0;
}

.btn{
    margin-left: 0px;
    margin-right: 20px;
}

.perfil-info span {
  display: block;
  font-size: 11px;
  color: #888888;
  font-weight: normal;
}

button{
    color: #fff;
    background-color:#428bca;
    border-color:#357ebd;
    margin-left: 70px;
}